<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/36fc2d56-c9eb-4caf-ba61-984c254b8fe3/resourceGroups/TestResourceGroup/providers/Microsoft.ContainerRegistry/registries/TestAzureApplication20230915194146</ContainerResourceId>
    <ContainerResourceName>TestAzureApplication20230915194146</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>testazureapplication20230915194146.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ContainerName>azuretestmvc</ContainerName>
    <EnvironmentName>TestAzureApplication-env-20230915193843</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://azuretestmvc-app-20230915214810.thankfulpebble-f7829593.eastus.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/36fc2d56-c9eb-4caf-ba61-984c254b8fe3/resourceGroups/TestResourceGroup/providers/Microsoft.App/containerapps/azuretestmvc-app-20230915214810</ResourceId>
    <ResourceGroup>TestResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
  </PropertyGroup>
</Project>